html
  head
    title= title
  body
    h1= title
    h2 CourseID #{courseID}
    h2 userID #{userID}
    h2 UserRole #{userRole}
    h2 CurrentTime #{currentTime}
    h2= FulllogTitle
    code= Fulllog
	  
    
    
    
    