html
  head
    title= title
  body
    h1= title
    h2 Course ID: #{courseID}
    h2 User ID:  #{userID}
    h2 User Role: #{userRole}
    h2 Current Time: #{currentTime}
    h2 Full Log:
    code= fulllog
	  
    
    
    
    